* {
    box-sizing: border-box;
}

html {
    background-color: rgb(81, 89, 100);
    text-align: center;
    color: rgb(226, 226, 226);
}

body {
    margin: 0;
}

#app {
    height: 100vh;
    text-align: center;
}

.item {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    padding: 5px;
    border-radius: 5px;
    /* border: 1px solid black; */
    background-color: rgb(64, 71, 82);
}

input {
    margin-top: 20px;
}